<!doctype html>
<html>
  <head>
    <title>Dark Ride</title>
    <style>
      .load table {
      float: center;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      margin: auto;
      width: 70%;
      }
      .load th, .load td {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
      }
      .load tr:nth-child(even) {
      background-color: #dddddd;
      }
      input {
        width: 70%;
      }
      form {
        float: center;
        text-align: center;
        margin: auto;
      }
    </style>
    {{ turbo() }}
  </head>
  <body>
    {% include "ridetable.html" %}
    {% block form %}{%endblock%}
    {% include "estop.html" %}
  </body>
</html>