<!DOCTYPE html>
<html>
<head>
    <title>Dark Ride Control</title>
</head>
<style>
table {
  float: center;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: auto;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{{ turbo() }}
<body>
    <h1 style="color: rgb(216, 102, 25);"><center>DARK RIDE CONTROL SYSTEM</center></h1>
    {% block content %}{% endblock %}
    {% include "loadavg.html" %}
</body>
</html>

